<div class="auth-container">
  <mat-card class="auth-card">
    <div class="dialog-header">
      <mat-card-title>Créer mon compte</mat-card-title>
      <button mat-icon-button (click)="closeDialog()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="firstName" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="lastName" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-hint>Minimum 8 caractères avec au moins 1 lettre, 1 chiffre et 1 caractère spécial</mat-hint>
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            Le mot de passe est obligatoire
          </mat-error>
          <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
            Le mot de passe doit contenir au moins 8 caractères
          </mat-error>
          <mat-error *ngIf="registerForm.get('password')?.hasError('passwordFormat')">
            Le mot de passe doit contenir au moins 1 lettre, 1 chiffre et 1 caractère spécial (&#64;$!%*#?&amp;)
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Téléphone</mat-label>
          <input matInput formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Adresse</mat-label>
          <input matInput formControlName="address">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ville</mat-label>
          <input matInput formControlName="city">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Code postal</mat-label>
          <input matInput formControlName="zipCode">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Pays</mat-label>
          <mat-select formControlName="codeCountry">
            <mat-option *ngFor="let country of countries" [value]="country.value">
              {{ country.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-checkbox formControlName="hasDisability">Je suis une personne en situation de handicap</mat-checkbox>

        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Créer un compte</button>
        </div>

        <mat-error *ngIf="error">{{ error }}</mat-error>
      </form>
    </mat-card-content>
  </mat-card>
</div>
